html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body_wrapper {
    max-width: 1280px;
    height: 100%;
}

.main {
    height: 100%;
    box-shadow: 0 0 40px #4a4343;
}

.main_info {
    position: relative;
    right: 60px;
    width: 800px;
    height: 400px;
    background-color: #000000;
    box-shadow: 0 0 40px #4a4343;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 60px;
}

.my_info_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.my_photo {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    background-color: #f0f8ff;
    background-image: url('./assets/me.JPG');
    background-size: contain;
    background-repeat: no-repeat;
}

.my_contacts {
    position: relative;
    left: 25px;
    align-self: center;
    display: flex;
    padding: 15px 20px;
    flex-direction: column;
    background-color: #f0f8ff;
    box-shadow: 0 0 40px #4a4343;
}

a {
    display: flex;
    margin-bottom: 7px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #000000;
    transition: .5s;
    align-items: center;
}

a:hover {
    color: #717070;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.tel-icon {
    background-image: url('./assets/phone.png');
}

.linkedIn-icon {
    background-image: url('./assets/linkedIn.png');
}

.telegram-icon {
    background-image: url('./assets/telega.png');
}

.location-icon {
    background-image: url('./assets/location.png');
}

.mail-icon {
    width: 25px;
    height: 15px;
    margin-right: 5px;
    background-image: url('./assets/mail.png');
}

.my_name {
    align-self: flex-start;
    margin: 30px 0 10px;
    font-size: 2.4rem;
    font-weight: 700;
    color: #f0f8ff;
}

.my_title {
    align-self: flex-start;
    margin: 5px 0 20px;
    font-size: 1.9rem;
    font-weight: 700;
    color: #f0f8ff;
    text-transform: uppercase;
}

@media screen and (max-width: 1050px) {
    .main_info {
    right: 30px;
    width: 450px;
    height: 250px;
    }
    .my_photo {
        border-radius: 50%;
        width: 140px;
        height: 140px;
    }
    .my_contacts {
    left: 15px;
    padding: 10px 10px;
    }

    a {
        margin-bottom: 3px;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
    .icon {
        width: 15px;
        height: 15px;
    }
    .mail-icon {
    width: 15px;
    height: 12px;
    margin-right: 10px;
    }

    .my_name {
        font-size: 1.4rem;
    }
    .my_title {
        font-size: .9rem;
    }

  }
  @media screen and (max-width: 610px) {
    .my_info_wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .my_photo {
        align-self: center;
        margin-bottom: 20px;
    }

    .my_contacts {
        position: static;
    }
    .main_info {
    right: 10px;
    width: 330px;
    height: max-content;
    padding-left: 20px;
    }
    .my_photo {
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    .my_contacts {
    left: 10px;
    padding: 10px 10px;
    }

    a {
        margin-bottom: 3px;
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
    .icon {
        width: 15px;
        height: 15px;
    }
    .mail-icon {
    width: 15px;
    height: 12px;
    margin-right: 10px;
    }

    .my_name {
        font-size: 1rem;
    }
    .my_title {
        font-size: .8rem;
    }

  }

.section {
    box-sizing: border-box;
    width: 1080px;
    padding: 0 60px;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.skills_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.skill {
    font-size: 1.4rem;
    padding-bottom: 5px;
}

.education {
    margin: 0;
    margin-left: 30px;
}

.university {
    font-weight: 700;
    font-size: 1.4rem;
}

.education_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.english_wrapper {
    margin-right: 210px;
}

.courses_wrapper {
    margin-right: 130px;
}

.about-me_wrapper  {
    padding-bottom: 25px;
}

.about_me {
    margin-left: 30px;
}

@media screen and (max-width: 1300px) {
    .section {
        width: 850px;
    }
    .english_wrapper {
        margin-right: 50px;
    }
    
    .courses_wrapper {
        margin-right: 0;
    }

  }

  @media screen and (max-width: 1050px) {
    h2 {
        font-size: 1.6rem;
    }

    .section {
        width: 490px;
        padding: 0 20px;
    }

    .english_wrapper {
        margin-right: 00px;
    }

    .skill {
    font-size: 1rem;
    padding-bottom: 0px;
    }

    .about-me_wrapper {
        padding-bottom: 20px;
    }

  }

  
  @media screen and (max-width: 610px) {
    h2 {
        font-size: 1.2rem;
    }
    .skills_wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .section {
        width: 340px;
        padding: 0 10px;
    }

    .english_wrapper {
        margin-right: 00px;
    }

    .skill {
    font-size: .8rem;
    padding-bottom: 0px;
    }

    .education_wrapper, 
    .courses_wrapper {
        flex-direction: column;
    }

    .about-me_wrapper {
        padding-bottom: 20px;
    }

  }